*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(134, 134, 134);
  font-size: 16px;
}

body {
  background-color: rgb(30, 30, 30);
}

section {
  margin-bottom: 60px;
}

p {
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav {
  -webkit-box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.main {
  min-height: calc(100vh - 56px - 90px - 2rem);
}

.sr-image {
  width: 400px;
  max-width: 100%;
  border-radius: 20px;
  border: 5px solid #212529;
  filter: drop-shadow(2px 4px 6px black);
}

.experience-list {
  position: relative;
}

.experience-list li {
  width: 50%;
  display: inline-block;
  position: relative;
  padding-bottom: 2rem;
}

.experience-list li:nth-last-child(1) {
  padding-bottom: 0;
}

.experience-list li:nth-of-type(odd) {
  position: relative;
  left: 49.9%;
  border-left: 1px solid #404040;
}

.experience-list li:nth-of-type(even) {
  border-right: 1px solid #404040;
}

.experience-list li:nth-of-type(odd)::before {
  position: absolute;
  left: -13px;
  top: 25%;
  content: '';
  width: 25px;
  height: 25px;
  background-color: #be83a1;
  border-radius: 50%;
}

.experience-list li:nth-of-type(odd)::after {
  position: absolute;
  left: -8px;
  top: 28.5%;
  content: '';
  width: 15px;
  height: 15px;
  background-color: teal;
  border-radius: 50%;
}

.experience-list li:nth-of-type(even)::before {
  position: absolute;
  right: -13px;
  top: 26%;
  content: '';
  width: 25px;
  height: 25px;
  background-color: #be83a1;
  border-radius: 50%;
}

.experience-list li:nth-of-type(even)::after {
  position: absolute;
  right: -8px;
  top: 29%;
  content: '';
  width: 15px;
  height: 15px;
  background-color: teal;
  border-radius: 50%;
}

@media only screen and (max-width: 576px) {
  .experience-list li {
    width: 100%;
  }

  .experience-list li:nth-of-type(odd) {
    left: 0;
  }

  .experience-list li:nth-of-type(even) {
    border-left: 1px solid #404040;
    border-right: none;
  }

  .experience-list li:nth-of-type(even)::before {
    left: -13px;
    top: 25%;
  }

  .experience-list li:nth-of-type(even)::after {
    left: -8px;
    top: 29%;
  }
}

.btn-effect {
  padding: 8px 16px;
  color: rgb(255, 0, 0, 0.4);
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.btn-effect {
  border: 1px solid rgb(182 205 239 / 10%);
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-effect::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #003177;
  box-shadow: inset 0px 0px 0px #b6cdef;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-effect:hover::before {
  width: 100%;
}

.btn-effect::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #a9c1e8;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
  transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
}

.btn-effect:hover::after {
  width: 100%;
}

.btn-effect:hover {
  border-left: 1px solid #b6cdef;
  border-right: 1px solid #6098ff;
  color: #003177;
}

.lw {
  width: 100% !important;
}

@media only screen and (min-width: 996px) {
  .lw {
    width: 75% !important;
  }
}

.airplane {
  top: 30px;
  position: relative;
  z-index: 1;
  animation: airplane 15s linear infinite;
}

@media only screen and (max-width: 768px) {
  .airplane {
    animation: airplane 10s linear infinite;
  }
}

@media only screen and (max-width: 576px) {
  .airplane {
    animation: airplane 5s linear infinite;
  }
}

.flame {
  top: -40px;
  left: 100px;
  height: 10px;
  width: 60px;
  position: relative;
  border-radius: 50%;
  background-color: #ffffff;
  animation: flame 0.3s linear infinite;
  z-index: -1;
}

.flame2 {
  top: -150px;
  left: 100px;
}

@keyframes flame {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes airplane {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-86%);
  }
}

.airplane > .banner {
  position: absolute;
  background-color: #212529;
  height: 120px;
  width: 480px;
  left: 250px;
  bottom: 80px;
}

.airplane > .python {
  position: absolute;
  left: 270px;
  bottom: 92px;
  z-index: 1;
}

.airplane > .rope {
  background-color: black;
  position: absolute;
  height: 3px;
  width: 80px;
  left: 170px;
  bottom: 150px;
  transform: rotate(-20deg);
}

.airplane > .rope1 {
  background-color: black;
  position: absolute;
  height: 3px;
  width: 80px;
  left: 170px;
  bottom: 120px;
  transform: rotate(20deg);
}

.airplane > .r {
  position: absolute;
  left: 410px;
  bottom: 92px;
  z-index: 1;
}

.airplane > .html {
  position: absolute;
  left: 550px;
  bottom: 92px;
  z-index: 1;
}

.airplane > .nut1 {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
  left: 170px;
  bottom: 130px;
}

.airplane > .nut2 {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
  left: 245px;
  bottom: 160px;
}

.airplane > .nut3 {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
  left: 245px;
  bottom: 105px;
}
.card-body:hover{
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}
.space{
  padding-top: 20px;
}

.effect{
  color: rgb(134, 134, 134);
  animation-duration: 30s;
  animation-name: slidein;
  animation-iteration-count: 1;
  min-height: 48px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}